* {
  box-sizing: border-box;
}
.nav-bar {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.input-div {
  margin: 10px;
}
.input-form {
  display: flex;
  flex-direction: column;
}
.input-box {
  margin: 10px;
  width: 200px;
}
.button-div {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.nav-bar .title{
  font-size: 30px;
}

.imp--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-button {
  margin: 10px;
  border: 2px solid;
  padding: 8px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}
.left-button:hover {
  background-color: greenyellow;
  color: black;
}
.input-box {
  border-radius: 5px;
  border: 2px solid;
  height: 30px;
  transition:0.3s;
}
.input-box:hover{
  height:35px;
  width:300px;
}

.input-form{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: left;
}
.buttons {
  border: 2px solid;
  border-radius: 4px;
  width: 80px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.buttons{
  height:30px;
  width:auto;
  background-color: skyblue;
  transition: 0.5s;
}
.buttons:hover {
  height:40px;
  background-color: rgb(122, 204, 16);
  color:white;
  border: 2px solid black;
  font-size: 20px;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}